@import "tailwindcss";

@font-face {
  font-family: 'DrStone';
  src: url('./fonts/ITC Machine Regular.otf') format('opentype');
}

:root {
  font-family: 'DrStone', sans-serif;
  letter-spacing: 1.5px;
  --stone-green: #166534;
  --stone-yellow: #facc15;
  --stone-blue: #38bdf8;
  --senku-red: #dc2626;
  --wood-brown: #92400e;
}

@layer utilities {
  .text-stone-green { @apply text-[var(--stone-green)]; }
  .bg-stone-green { @apply bg-[var(--stone-green)]; }
  .border-stone-green { @apply border-[var(--stone-green)]; }

  .text-stone-yellow { @apply text-[var(--stone-yellow)]; }
  .bg-stone-yellow { @apply bg-[var(--stone-yellow)]; }
  .border-stone-yellow { @apply border-[var(--stone-yellow)]; }

  .text-stone-blue { @apply text-[var(--stone-blue)]; }
  .bg-stone-blue { @apply bg-[var(--stone-blue)]; }
  .border-stone-blue { @apply border-[var(--stone-blue)]; }

  .text-senku-red { @apply text-[var(--senku-red)]; }
  .bg-senku-red { @apply bg-[var(--senku-red)]; }
  .border-senku-red { @apply border-[var(--senku-red)]; }

  .text-wood-brown { @apply text-[var(--wood-brown)]; }
  .bg-wood-brown { @apply bg-[var(--wood-brown)]; }
  .border-wood-brown { @apply border-[var(--wood-brown)];}

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }

  .glass {
    background-image: url('./assets/stone.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
  }

  .glass-header {
    background-image: url('./assets/stone.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
  }

  .wood{
    background-image: url('./assets/wood.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @apply rounded-none;
  }

  .stone{
    background-image: url('./assets/stone.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @apply rounded-none;
  }

  .leaf{
    background-image: url('./assets/leaf.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @apply rounded-none;
  }

  .sky{
    background-image: url('./assets/sky.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @apply rounded-none;
  }

  .redwood{
    background-image: url('./assets/redwood.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @apply rounded-none;
  }

  .yellowwood{
    background-image: url('./assets/yellowwood.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @apply rounded-none;
  }
}